/CustomerVehicle/.vs

*.ide-wal

CustomerVehicleService/packages/

CustomerVehicleService/Service\.Contract/obj/

CustomerVehicleService/Service\.Implementation/obj/

CustomerVehicleService/Service\.Tests/bin/

CustomerVehicleService/Service\.Tests/obj/

CustomerVehicleService/\.vs/

CustomerVehicleService/Service\.Contract/bin/

CustomerVehicleService/Service\.Implementation/bin/

CustomerVehicleService/CustomerVehicleService/bin/

CustomerVehicleService/CustomerVehicleService/obj/
CustomerVehicleService/Service\.Implementation/Migrations/201807270038317_enab-mi\.cs

CustomerVehicleService/Service\.Implementation/Migrations/201807270038317_enab-mi\.Designer\.cs

CustomerVehicleService/Service\.Implementation/Migrations/201807270038317_enab-mi\.resx

CustomerVehicleService/Service\.Implementation/Migrations/Configuration\.cs

\.vs/

CustomerVehicleService/CustomerVehicleService\.sln\.DotSettings\.user
