/CustomerDetailsProcessor/Processor.Contract/obj
/CustomerDetailsProcessor/Processor.Contract/bin
/CustomerDetailsProcessor/Processor.Implementation/bin
/CustomerDetailsProcessor/Processor.Implementation/obj
/CustomerDetailsProcessor/.vs
/CustomerDetailsProcessor/Processor.Tests/obj
/CustomerDetailsProcessor/Processor.Tests/bin
/CustomerDetailsProcessor/packages
